
img {
  border: 2px;
  border-style: solid;
  border-color: blue;
  width: 150px;
  height: 150px;
}

h5 {
  background-color: #FFBC6C;
  color: #AC6B00;
  padding: 10px;
}

p {
  color: blue;
  font-weight: bold;
}

.friendNumber {
  color: red;
}

.online {
  border: none;
  width: 90px;
  height: 25px;
}

 .friend {
   text-align: center;
   float: left;
   margin-left: 60px;
 }
 .friend2 {
   text-align: center;
   float: left;
   margin-left: 60px;
 }

.viewAll {
  color: red;
  text-align: right;
}

.container {
  width: 65%;
}
